{% load i18n %}
{% load compress %}
<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="{{ event_form.title.name }}" type="text" class="span12" placeholder="{{ event_form.title.label }}" value="{{ event_form.title.value|default_if_none:"" }}">


    <div class="controls controls-row">
        <input name="{{ event_form.date_start.name }}" type="text" class="span6" placeholder="{{ event_form.date_start.label }}" value="{{ event_form.date_start.value|date:"m/d/Y G:i" }}">
        <input name="{{ event_form.date_end.name }}" type="text" class="span6" placeholder="{{ event_form.date_end.label }}" value="{{ event_form.date_end.value|date:"m/d/Y G:i" }}" style="margin-left: 22px;" >
    </div>

    <textarea name="{{ event_form.message.name }}" rows="5" class="span12" placeholder="{{ event_form.message.label }}">{{ event_form.message.value|default_if_none:"" }}</textarea>

    {{ event_form.picture }}

    {{ event_form.privacy }}

    <div align="right">
        <a class="btn btn-primary">{% trans "Save" %}</a>
    </div>
</form>
{% compress js inline %}
    <script type="text/javascript">
        jQuery(function ($) {
            /* Click to save button */
            $('a.btn.btn-primary').click(function () { $('form').submit(); });
            /* Date Start */
            /* Date Start */
            $('input[name="{{ event_form.date_start.name }}"]').datetimepicker({
                dateFormat: 'mm/dd/yy',
                timeFormat: 'hh:mm',
                onSelect: function( selectedDate ) {
                    $( 'input[name="{{ event_form.date_end.name }}"]' ).datetimepicker( "option", "minDate", selectedDate );
                }
            });
            /* Date End */
            $( 'input[name="{{ event_form.date_end.name }}"]' ).datetimepicker({
                dateFormat: 'mm/dd/yy',
                timeFormat: 'hh:mm',
                onSelect: function( selectedDate ) {
                    $( 'input[name="{{ event_form.date_start.name }}"]' ).datetimepicker( "option", "maxDate", selectedDate );
                }
            });
        });
    </script>
{% endcompress %}