<div class="popup" id="facebook-form" style="display: none;">
<a class="close-popup" href="#"></a> 
	<h1>Add Facebook account</h1>
    <div class="form">
       <form>
       <section class="first">
       	 
           <div class="row-form">
          		<label>Account-name:</label>
          		<input type="text" value="My custom name" class="span2">               
          </div>
           <div class="row-form">
          		<label>URL:</label>
          		<input type="text" value="Facebook.com/rasmusg" class="span2">               
          </div>
           <div class="row-form">
          		<label>Username:</label>
          		<input type="text" value="rg@nerdpeople.com" class="span2">               
          </div>
           <div class="row-form">
          		<label>Password:</label>
          		<input type="password" value="My custom name" class="span2">               
          </div>
           <div class="row-form">
          		<label>Start Time:</label>
          		<div class="btn-date-group">
					<input type="text" class="btn btn-date" id="flickr-date_start" value="mm:dd:yyyy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hh:mm:ss">       
                </div>
          </div>
           <div class="row-form">
          		<label>End Time:</label>
          		<div class="btn-date-group">
               		<input type="text" class="btn btn-date" id="flickr-date_end" value="mm:dd:yyyy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hh:mm:ss">     
                </div>
          </div>

          </section>
         
        
           <section class="last">
          <button type="submit" class="btn btn-submit">Save</button>
         
          </section>
       </form>
    </div>
</div>