<div class="popup" id="service-form" style="display: none;">
<a href="javascript: void('0');" class="close-popup"></a> 
	<h1>Add Service</h1>
    <div class="form">
       <form>
       <section class="first">
           <div class="row-form">
          		<label>Service name:</label>
          		<input type="text" class="span2" id="service-title" placeholder="My custom service name">
          		<input type="hidden" id="service-id" value="">           
          </div>
           <div class="row-form">
          		<label>Start Time:</label>
          		<div class="btn-date-group">
					<input type="text" class="btn btn-date" id="service-date_start" value="mm:dd:yyyy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hh:mm:ss">       
                </div>
          </div>
           <div class="row-form">
          		<label>End Time:</label>
          		<div class="btn-date-group">
               		<input type="text" class="btn btn-date" id="service-date_end" value="mm:dd:yyyy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hh:mm:ss">     
                </div>
          </div>
           <div class="row-form">
          		<label>Type:</label>
          		<div class="select">
                  <div class="btn-group">
                    <button class="btn btn-small" id="service-type">FACEBOOK</button>
                    <button data-toggle="dropdown" class="btn btn-small dropdown-toggle"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">FACEBOOK</a></li>
                      <li><a href="#">TWITTER</a></li>
                      <li><a href="#">YOUTUBE</a></li>
                      <li><a href="#">FLICKR</a></li>
                    </ul>
                  </div><!-- /btn-group -->
            	</div>
          </div>
          </section>
        
          <section class="last">
          	<button class="btn btn-submit" type="button">Save</button>
          </section>
       </form>
    </div>
</div>