{% load i18n %}
{% load menu_active_item %}
<div class="left-side">
	<div class="logo">
		<a href="#"><img src="{{ STATIC_URL }}office/img/logo-admin.png" ></a>
	</div>
	<nav class="left-nav">
		<ul>
			<li class="{% menu_active_item request 'office_dashboard' %}">
				<a href="{% url office_dashboard %}">{% trans "Dashboard" %}</a>
			</li>
			<li class="{% menu_active_item request 'office_timeline_list' %}">
				<a href="{% url office_timeline_list %}"><span class="icon-2"></span>{% trans "Timelines" %}</a>
			</li>
			{% if user.is_superuser %}
				<li class="">
					<a href="#"><span class="icon-1"></span>{% trans "Users" %}</a>
				</li>
			{% endif %}
		</ul>
	</nav>

	<nav class="left-nav">
		<ul id="services-all">
		</ul>
	</nav>
</div>