    <div class="right-side">
    	 <nav class="right-nav">
        	<ul>
            	<li><a href="javascript: void('0');" class="twitter-add"><span class="item icon-1"></span>Twitter</a></li>
                <li><a href="javascript: void('0');" class="facebook-add"><span class="icon-2"></span>Facebook</a></li>
                <li><a href="javascript: void('0');" class="instagram-add"><span class="icon-3"></span>Instagam</a></li>
                <li><a href="javascript: void('0');" class="chatroll-add"><span class="icon-4"></span>ChatRoll</a></li>
                <li><a href="javascript: void('0');" class="livestream-edit"><span class="icon-5"></span>Livestream</a></li>
                <li><a href="javascript: void('0');" class="flickr-add"><span class="icon-6"></span>Flickr</a></li>
                <li><a href="javascript: void('0');" class="photo-add"><span class="icon-7"></span>Photo</a></li>
                <li><a href="javascript: void('0');" class="video-add"><span class="icon-8"></span>Video</a></li>              
                <li><a href="javascript: void('0');" class="event-add"><span class="icon-9"></span>Event</a></li>
            </ul>
        </nav>
    </div>