<div class="popup" id="timeline-form" style="display: none;">
	<a href="javascript: void('0');" class="close-popup"></a> 
	<h1>Create your Timeline</h1>
    <div class="form">
       <form id="timeline-form">
       <section class="first">
           <div class="row-form">
          		<label>Timeline-name:</label>
          		<input type="text" id="timeline-title" class="span2" value="New One">
          		<input type="hidden" id="timeline-id">
          </div>
          <div class="row-form">
          		<label>Start Time:</label>
          		<div class="btn-date-group">
					<input type="text" id="timeline-date_start" class="btn btn-date" value="mm:dd:yyyy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hh:mm:ss">       
                </div>
          </div>
           <div class="row-form">
          		<label>End Time:</label>
          		<div class="btn-date-group">
					<input type="text" id="timeline-date_end" class="btn btn-date" value="mm:dd:yyyy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hh:mm:ss">       
                </div>
          </div>
          </section>
          <section class="additional">
          	<span class="text-label">Collect spam items:</span>
          	<span class="fields">
          		if more than as one item &nbsp;<input type="text" id="timeline-spam_items">&nbsp; items orrur within &nbsp;<input type="text" id="timeline-spam_time">&nbsp;&nbsp;
          		collect them
          	</span>
          </section>
          	
          <section class="last">
          	<button class="btn btn-submit" type="submit">Save</button>
          </section>
       </form>
    </div>
</div>