<div class="popup" id="twitter-form" style="display: none;">
<a class="close-popup" href="javascript: void('0');"></a> 
	<h1>Add Twitter</h1>
    <div class="form">
       <form>
       <section class="first">

           <div class="row-form">
          		<label>Account-name:</label>
          		<input type="text" id="twitter-title" value="My custom name" class="span2" id="tw-">   
          		<input type="hidden" id="twitter-id">          
          </div>
           <div class="row-form">
          		<label>Start Time:</label>
          		<div class="btn-date-group">
					<input type="text" class="btn btn-date" id="twitter-date_start" value="mm:dd:yyyy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hh:mm:ss">       
                </div>
          </div>
           <div class="row-form">
          		<label>End Time:</label>
          		<div class="btn-date-group">
               		<input type="text" class="btn btn-date" id="twitter-date_end" value="mm:dd:yyyy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hh:mm:ss">     
                </div>
          </div>
         </section>
        
         <section class="fieldset">
          <p class="legend">Account</p>
					
           <div class="panel-fieldset">
           		 <div class="radio-fieldset">
                		<input type="radio" name="5" id="5" checked="checked" class="styled"> 
                 </div>
               <div class="row-form">
                    <label>@Name:</label>
                    <input type="text" placeholder="@name" id="twitter-username"  class="span2">
               </div>
                <div class="row-form">
                    <label>Username:</label>
                    <input type="text" id="twitter-email" placeholder="email@mail.com" class="span2">        
               </div>
                <div class="row-form">
                    <label>Password:</label>
                    <input type="password" id="twitter-password" placeholder="password" class="span2">        
               </div>
                 <div class="row-form">    
                    <div class="empty-label"></div>
                    <input type="checkbox" id="twitter-include_followers" class="styled">
                    <label class="w-auto">Include tweets that this account is following</label>
               </div>
               
          </div>
          </section>
          	
          <section class="fieldset">
          <p class="legend">listen to all in twitter</p>
          
          <div class="panel-fieldset">
               <div class="radio-fieldset">
              		 <input type="radio" name="5" id="6" class="styled">
               </div>
               <div class="row-form">
                    <label>Keyword:</label>
                    <input type="text" id="twitter-keyword" class="span2"> 
              </div>
              <div class="row-form">    
                    <label>Hashtag: </label><span class="sharp">#</span>
                    <input type="text" id="twitter-hashtag" class="span2">      
               </div>
          </div>
          </section>
          <section class="last">
          	<button type="button" class="btn btn-submit">Save</button>
          </section>
       </form>
    </div>
</div>