{% load i18n %}
{% load compress %}
<form action="." method="post">
    {% csrf_token %}
    <input name="{{ service_form.title.name }}" type="text" class="span12" placeholder="{{ service_form.title.label }}" value="{{ service_form.title.value|default_if_none:"" }}">

    <textarea name="{{ service_form.description.name }}" rows="5" class="span12" placeholder="{{ service_form.description.label }}">{{ service_form.description.value|default_if_none:"" }}</textarea>
        <input name="{{ service_form.active.name }}" type="checkbox" placeholder="{{ service_form.active.label }}" value="{{ service_form.active.value }}">
        {{ service_form.active.label }}
    <div align="right">
        <a class="btn btn-primary">{% trans "Save" %}</a>
    </div>
</form>
{% compress js inline %}
    <script type="text/javascript">
        jQuery(function ($) {
            /* Click to save button */
            $('a.btn.btn-primary').click(function () { $('form').submit(); });
            /* Date Start */
        });
    </script>
{% endcompress %}