.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.top-70{top:70px!important;}
.top-107{top:107px!important;}
.top-65{top:65px!important;}
.last{ margin-bottom:0!important}
.clearer {
    clear: both;
    float: none;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
}
body{background:#f2f2f2;}
.main-header {width: 100%; height: 120px; background: url('../img/header-bg.jpg') no-repeat scroll center 0 #0f132a; box-shadow: 0px 1px 2px 1px rgba(7, 7, 7, 0.5);}
.next-event{ width:100%; background:#d9d9d9; position:absolute; left:0; top:0; z-index:10; border-bottom:1px solid #bababa}
.main-header{ position:relative; z-index:20;}
.big, .big p, .big a, .big span, .big time{ font-size:18px!important; line-height:24px!important;}
.container {width: 100%;  position:relative; overflow:hidden; min-width: 1200px; z-index:20;}
.timeline{ position:absolute; width:18px; top:0; left:50%; margin-left:-9px; height:100%; z-index:10;}
.timeline-scale{background:url(../img/timeline.png) repeat-y left top; height:100%; width:100%;  z-index:40; top:0px; left:0; position:absolute; width:18px;}
.timeline-interval{ position:absolute; background:#006cd3; height:1971px; width:8px;  position:relative; z-index:20; top:147px; left:50%; margin-left:-4px;}
.row{ min-width:1200px; margin:0 auto; position:relative; margin-bottom:18px; max-width:1400px; z-index:20; overflow:hidden;}
	.row .wrap-row{ margin:0 auto; width:1170px; position: relative; z-index:50;}
	
		
.mt-50{ margin-top:50px;}
.left-column{ float:left; width:550px;}
.right-column{ float:right; width:550px;}

.events-timeline{ float:left; margin-left:0; width:100%}
.events-timeline li{ list-style:none; float:left; width:570px;   margin-bottom:18px;}
	.events-timeline li .empty{ float:left; height:48px; }
	.event{ float:left; width:568px; background:#fff; border:1px solid #cccccc; position:relative; padding-top:15px; z-index:70; 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	behavior: url(css/PIE.htc);}
	.block{  padding: 0 9px; padding-bottom: 11px;}


.events-timeline-center{ float:left; width:100%; }
.events-timeline-center .event .wrap-media img{ float:left; width:1150px; }
	.events-timeline-center .event{ width:1168px;}
	.events-timeline-center footer{ width:1150px!important;}
	.events-timeline-center header{ width:1150px!important;}

	
.events-timeline-center li{ float:left; margin-bottom:18px!important; margin-top:12px!important;}

.events-timeline li[data-side="l"] {
    clear: left!important;
    float: left!important;
}
.events-timeline li[data-side="r"] {
    clear: right!important;
    float: right!important;
}


		.event .icon{cursor:pointer; position:absolute; background-image:url(../img/events-icon.png); width:24px; height:20px; z-index:99; margin:0}
			.row-next-events .event-right .icon-blue{top:14px; left:-24px; background-position: -24px -103px; }
	        .row-next-events .event-left .icon-blue{top:14px; right:-24px; background-position: 0px -103px; }
			
			.row-next-events .event-right .icon-grey{top:14px; left:-24px; background-position: -24px -125px; }
	        .row-next-events .event-left .icon-grey{top:14px; right:-24px; background-position: 0px -125px; }
		    
			 .event-right .icon-blue{top:14px; left:-24px; background-position: -40px 0px;}
	         .event-left .icon-blue{top:14px; right:-23px; background-position:  -40px -22px; }
			
			 .event-right .icon-grey{top:14px; left:-24px; background-position:  -66px 0;}
	         .event-left .icon-grey{top:14px; right:-24px; background-position:  -66px -22px;}
			 
			 .event-top .icon-blue{top:-24px; left:50%; margin-left:-10px; background-position:-21px -78px; width:20px; height:24px; }
			 .event-bottom .icon-blue{bottom:-24px; left:50%; margin-left:-10px; background-position: 0px -78px; width:20px; height:24px; }
			 
			 .event-top .icon-grey{top:-24px; left:50%; margin-left:-10px; background-position:-21px -51px; width:20px; height:24px; }
			 .event-bottom .icon-grey{bottom:-24px; left:50%; margin-left:-10px; background-position: 1px -52px; width:20px; height:24px; }
			 
			
			
		  
		 
			
			

	
	
	.time-event{color:#cccccc; margin-right:5px; font-size:12px; font-weight:bold; line-height:20px;}
		.event p { color:#333333; margin:0; line-height:18px; font-size:13px; margin-bottom:36px; }


	.event header{ float:left;   border-bottom:1px solid #cccccc; margin-bottom:12px; padding: 0 9px; width:550px; padding-bottom:6px;}
	.event footer{ float:left;  border-top:1px solid #cccccc; padding: 0 9px; width:550px; padding-bottom:11px; padding-top:12px; margin-top:-9px;
background: #ffffff;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#ededed));
background: -webkit-linear-gradient(#ffffff, #ededed);
background: -moz-linear-gradient(#ffffff, #ededed);
background: -ms-linear-gradient(#ffffff, #ededed);
background: -o-linear-gradient(#ffffff, #ededed);
background: linear-gradient(#ffffff, #ededed);
-pie-background: linear-gradient(#ffffff, #ededed);
behavior: url(css/PIE.htc);}

	.social-link li{ float:left; width:auto!important; margin-right:10px; margin-bottom:0!important;margin-top:0!important }
	.social-link a{ float:left; padding-left:24px; height:24px; background:url(../img/soc_link.png) no-repeat left top;}
		.social-link .link-1{ background:url(../img/soc_link.png) no-repeat left top;}
		.social-link .link-2{ background:url(../img/soc_link.png) no-repeat -24px top;}
		.social-link .link-3{ background:url(../img/soc_link.png) no-repeat -48px top;}
		.social-link .link-4{ background:url(../img/soc_link.png) no-repeat right top;}
		.counter{ float:left; border:1px solid #d5d5d5; height:20px; margin-top:1px; position:relative;  padding-left:5px; padding-right:5px; margin-left:5px;  text-align:center; line-height:20px; color:#333333; font-size:12px; }
	     .counter span{position:absolute; left:-5px; top:10px; background:url(../img/counter.png) no-repeat left top; width:5px; height:4px;}
	
	
			.event .title{ margin-bottom:0!important}
			.event a{font-size:13px; color:#006cd3; font-weight:bold; margin:0 ;line-height:17px; margin-bottom:3px;}
			.event .detail{font-size:11px; color:#006cd3; margin:0; background:url(../img/icon-detail.png) no-repeat left 4px; padding-left:10px; font-weight:normal}
			.event .wrap-media{ float:left; margin-bottom:9px; overflow:hidden;}
			.event .wrap-media img{ float:left; width:549px; }
			.wrap-media-text img{ width:auto; float: left; margin-bottom: 9px;}
			.event h3{ margin:0; line-height:22px; margin-bottom:2px;}
			.event h3 a{font-size:18px; color:#333333; }
			.event h3 a:hover{ text-decoration:none}
			.event span{ font-size:13px; color:#999999;}
	        .event h4 {color:#333333; margin:0; line-height:20px; font-size:13px; font-weight:bold; }
		    
			.column-text{ float:right; width:500px;}
.navbar{ margin-bottom:18px; }
.navbar a{font-size:13px;}
.navbar-inner{ padding:0;  border: 1px solid #b9b9b9; box-shadow:none }
.navbar .nav { margin:0;}
  .navbar .nav li{border-right:1px solid #b9b9b9}
	.navbar .nav > .active > a,
	.navbar .nav > .active > a:hover,
	.navbar .nav > .active > a:focus {
	  color: #333333;
	  background-color: #cacaca;
	  }
	.navbar .nav > li > a {padding: 13px 15px;}

.navbar .nav span{ float:left; width:24px; height:24px; background-image: url(../img/glyphicons-halflings.png)}
		.navbar .nav span.icon-1{ background-position: -217px -165px; width:13px; height:8px; margin-top:4px; margin-right:4px;}
		.navbar .nav span.icon-2{ background-position: 0px -161px; width:14px; height:16px; margin-top:4px; margin-right:4px;}
		.navbar .nav span.icon-3{ background-position: -20px -156px; width:22px; height:21px;  margin-right:4px; }
		.navbar .nav span.icon-4{ background-position: -50px -161px; width:11px; height:12px; margin-top:5px; margin-right:7px; }
		.navbar .nav span.icon-5{ background-position: -71px -161px; height: 12px; width: 15px; margin-top:5px; margin-right:6px;}
		.navbar .nav span.icon-6{ background-position: -97px -160px; height: 12px; width: 15px; margin-top:5px; margin-right:6px;}
		.navbar .nav span.icon-7{ background-position: -120px -157px; height: 20px; width: 20px; margin-right:7px;}  
		.navbar .nav span.icon-8{ background-position: -143px -157px; height: 20px; width: 20px; margin-right:5px;}
		.navbar .nav span.icon-9{ background-position: -167px -157px; height: 20px; width: 20px; margin-top:1px; margin-right:4px;}
		
		.navbar .nav .dropdown span.icon-3{ background-position: -234px -156px; margin-left:38px;
    height: 31px;
    margin-right: 4px;
    width: 40px;
	margin-top:-5px;}
	.navbar .nav .dropdown{ width:350px; }
	

.pannel{ position:absolute; right:0px; top:0px; z-index:99;  }
.pannel .btn{ padding:0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #fefefe;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fefefe), to(#f2f2f2));
background: -webkit-linear-gradient(#fefefe, #f2f2f2);
background: -moz-linear-gradient(#fefefe, #f2f2f2);
background: -ms-linear-gradient(#fefefe, #f2f2f2);
background: -o-linear-gradient(#fefefe, #f2f2f2);
background: linear-gradient(#fefefe, #f2f2f2);
-pie-background: linear-gradient(#fefefe, #f2f2f2);
behavior: url(css/PIE.htc);}

.navbar .caret{ float:right; margin-right:-35px; margin-top:26px!important; border:none!important; width:26px; height:15px; background: url(../img/caret.png) no-repeat left top}

	.pannel .btn span{ width:24px; margin:0 auto; height:24px; display:block; background:url(../img/glyphicons-halflings.png) no-repeat -187px -156px;}
.pannel .btn{  height:48px; position:absolute; right:0; top:0;}
	.pannel .btn span{ margin:0 auto; width:24px; height:24px; display:block; background:url(../img/glyphicons-halflings.png) no-repeat -187px -156px;}
	.scroll{ float:right; background:#ffffff; border:1px solid #c9c9c9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(css/PIE.htc);}
	
	.pannel-close .btn{ width:47px}
	.pannel-close .scroll{ width:45px; height: 44px;}
	.pannel-close .scale{ display:none}
	.pannel-open button.btn{width:77px;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;}
	.pannel-open .scroll{ width:75px; height:677px;}
	
 .scale{ width:6px; height:525px; background:url(../img/scale.png) repeat-y left top; margin-left:-3px; margin-top:100px; position:relative; left:50%;}
 .scale .btn{ height:26px; width:58px; position:absolute; padding:0; font-size:13px; line-height:26px; left:50%; margin-left:-31px;
 background: #ffffff;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#f1f1f1));
background: -webkit-linear-gradient(#ffffff, #f1f1f1);
background: -moz-linear-gradient(#ffffff, #f1f1f1);
background: -ms-linear-gradient(#ffffff, #f1f1f1);
background: -o-linear-gradient(#ffffff, #f1f1f1);
background: linear-gradient(#ffffff, #f1f1f1);
-pie-background: linear-gradient(#ffffff, #f1f1f1);
behavior: url(css/PIE.htc);}
  .icon_scale{ width:22px; height:22px; position:absolute; top:2px; right:-26px; background:url(../img/scroll.png) no-repeat left top; cursor:pointer; }

 .scale .icon{ position:absolute; background-image:url(../img/events-icon.png); width:20px; height:20px; left:50%; margin-left:-10px;}
  .scale .event-bottom .icon-grey{ height:19px; background-position: -42px -44px; bottom:-18px; } 
  .scale .event-top .icon-grey{ height:19px; background-position: -19px -54px; top:-20px;  } 
  
   .scale .btn-1{top:0; }
   .scale .btn-2{top:79px; }
   .scale .btn-3{bottom:79px;top:auto }
   .scale .btn-4{bottom:0px; top:auto }
 
.event-current{ position: absolute; float:left; top:200px; right:18px; z-index:99px; height:26px;}
.scale_title{height:26px; font-size:13px; z-index:99; border:1px solid #dcdcdc; line-height:26px; padding:0 12px; position:relative;
	-webkit-border-radius: 20px 0 0 20px;
	-moz-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;

 background: #ffffff;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eeeeee));
background: -webkit-linear-gradient(#ffffff, #eeeeee);
background: -moz-linear-gradient(#ffffff, #eeeeee);
background: -ms-linear-gradient(#ffffff, #eeeeee);
background: -o-linear-gradient(#ffffff, #eeeeee);
background: linear-gradient(#ffffff, #eeeeee);
-pie-background: linear-gradient(#ffffff, #eeeeee);
behavior: url(css/PIE.htc);}
.scale_title p{ white-space:nowrap;}
.event-current .icon-current{ position:absolute; right:-14px; top:-2px; width:14px; height:27px; background:url(../img/icon-scroll.png) no-repeat left top;}


.navbar .dropdown-menu{ width:349px; border:1px solid #dadada; background:#eaeaea;  box-shadow: none; margin-top:1px; padding:0;
-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	behavior: url(css/PIE.htc);} 

.navbar .nav > li > .dropdown-menu:after,.navbar .nav > li > .dropdown-menu:before { border:none} 
.navbar .dropdown-menu li{ border-right: none!important; border-bottom:1px solid #dadada; height:59px; }
.navbar .nav .dropdown .dropdown-menu li a{ height:59px; padding-left:32px; line-height:59px; padding-top:0; padding-bottom:0; }
.navbar .nav .dropdown a{ padding-top:0; padding-bottom:0; line-height:63px; padding-left:87px;}
.navbar .nav .dropdown span{ height:59px; width:38px; background-image: url(../img/glyphicons-halflings-1.png); margin:0; height:59px; margin-right:6px; margin-top:2px;}
.navbar .nav .dropdown .dropdown-menu span{ height:59px; width:38px; background-image: url(../img/glyphicons-halflings-1.png); margin:0; height:59px; margin-right:6px;}
.navbar .dropdown .dropdown-menu li a:hover{background:#e3e3e3!important; color:#333333}

       
		.navbar .nav .dropdown  span.icon-2{ background-position: 0px  0px; height:30px;  margin-top:17px;}
		.navbar .nav .dropdown  span.icon-3{ background-position: 0px -46px; }
		.navbar .nav .dropdown  span.icon-4{ background-position: -0px -104px; }
		.navbar .nav .dropdown  span.icon-5{ background-position: -0px -161px;}
		.navbar .nav .dropdown  span.icon-6{ background-position: -0px -221px;}
		.navbar .nav .dropdown  span.icon-7{ background-position:  -0px -283px;}  
		.navbar .nav .dropdown  span.icon-8{ background-position:  -0px -342px; }
		.navbar .nav .dropdown  span.icon-9{ background-position:  -0px -403px; }



   .zome-btn{ width:22px; position:absolute; top:1366px; left:50%;  margin-left:-11px; z-index:99}
		.zome-btn .btn{ width:22px; padding:0; height:22px}
		.zome-btn .btn-center{ width:22px; padding:0;}
		.zome-btn .btn img{ width:14px;}
		
		
  .zome-btn .btn-group > .btn:first-child {
	 -webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	behavior: url(css/PIE.htc);}

 .zome-btn .btn-group > .btn:last-child, .zome-btn .btn-group > .dropdown-toggle {
  -webkit-border-radius: 0 0px 10px 10px;
	-moz-border-radius: 0 0px 10px 10px;
	border-radius: 0 0px 10px 10px;
	behavior: url(css/PIE.htc);}


