{% extends 'office/base.html' %}

{% load i18n %}
{% block title %}{% trans "Timeline Feed" %}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div id="content-header">
        <h1>{% trans "Timeline Feed" %}</h1>
    </div>
    <div id="breadcrumb">
        <a href="#" title="{% trans "Go to Home" %}" class="tip-bottom"><i class="icon-home"></i> {% trans "Home" %}</a>
        <a href="#" class="current">{% trans "Timeline" %}</a>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-content nopadding">
                        <ul class="recent-posts">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(function ($) {
            $.ajax({
                url:'/office/api/v1/posts/?timeline={{ timeline.id }}',
                dataType:"json",
                success:function (data, textStatus) {
                    $.each(data, function (i, val) {
                        alert(val);
                    });
                }
            });
        });
    </script>
{% endblock %}
